@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --dark: #2E2A2A; */
/*   --foreground-rgb: 46, 42, 42; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: , 255, 255; */
/*     --background-start-rgb: 46, 42, 42; */
/*     --background-end-rgb: 46, 42, 42; */
/*   } */
/* } */
/**/

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../assets/Satoshi-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

* { 
  font-family: 'Satoshi', sans-serif;
}

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

